/* Lots of CSS is ripped from Astro-generated stuff. Sue me. */
body,
html,
ol,
ul {
    padding: 0;
    margin: 0;
}

.link,
body,
html {
    font-family: serif;
}

.italic-text,
.link,
.title {
    text-align: center;
}

.links a,
.title {
    font-weight: 400;
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    line-height: inherit;
}

ol,
ul {
    list-style: none;
}

.m-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.max-w-prose {
    max-width: 100%;
}

@media (min-width: 768px) {
    .max-w-prose {
        max-width: 65ch;
    }
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.p-6 {
    padding-top: 1.5rem;
}

body,
html {
    height: 100dvh;
    width: 100vw;
    background-color: #fff5e5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.link {
    font-size: 1rem;
    line-height: 1.2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: -moz-fit-content;
    width: fit-content;
}

.links-page a {
    font-size: 1.3rem !important;
    line-height: 2.5rem !important;
}

.content-container {
    width: 80%;
    max-width: 600px;
}

.title {
    font-family: Smokum, serif;
    font-size: 36px;
    font-style: normal;
    margin-bottom: 20px;
}

.italic-text,
.left-justified-text {
    font-family: serif;
    margin-bottom: 20px;
}

.italic-text {
    font-style: italic;
    font-size: 1.2rem;
}

.left-justified-text {
    text-align: left;
    font-size: 1.1rem;
}

.links {
    font-size: 1rem;
    text-align: right;
}

.links a {
    text-decoration: underline;
    font-family: "Courier Prime", monospace;
    font-style: italic;
    line-height: 2rem;
}

.c6-logo {
    width: 100%;
    transform: scale(0.7) translateY(0);
    display: block;
    max-width: 100%;
    height: auto;
}

.titleshift {
    margin-top: 60%;
}

.seated-event-venue-name {
    font-style: italic;
}

@media (min-width: 768px) {
    .seated-widget {
        width: 100%;
    }
}

.seated-event-date-cell {
    font-family: "Courier Prime", monospace;
}

.seated-event-link {
    font-family: "Courier Prime", monospace;
}